<h2 id="signup-title" class="text-center">My registered info</h2>
  <div class="text-center" ng-if="myinfoCtrl.user.length == 0">
        Not Signed Up Yet. <a ui-sref="public.signup">Sign up</a> Now!
  </div>
  <div class="container" ng-if="myinfoCtrl.user.length > 0">
    <div class="form-group">
      <label for="first_name">First Name:</label> {{ myinfoCtrl.user[0].first_name}}
    </div>
    <div class="form-group">
      <label for="last_name">Last Name:</label> {{ myinfoCtrl.user[0].last_name}}
    </div>
    <div class="form-group">
      <label for="email">Email:</label> {{ myinfoCtrl.user[0].email}}
    </div>
    <div class="form-group">
      <label for="address">Address:</label> {{ myinfoCtrl.user[0].address}}
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label> {{ myinfoCtrl.user[0].phone}}
    </div>
    <div class="form-group">
      <label for="fav_dish">Favourite dish:</label> {{ myinfoCtrl.user[0].fav_dish_items.description}}<br>
      <img ng-src="{{ myinfoCtrl.url_path }}/{{ myinfoCtrl.user[0].fav_dish_items.short_name }}.jpg" alt="">
    </div>
</div>
